<header class="modal-header">
	<center>
		<h3>Create New User</h3>
	</center>
</header>
<section class="modal-body">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="">
				<div class="row">
					<!-- <label for="user-name">User Name:</label> -->
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="user-name" placeholder="User Name" ng-model="create.user.name">
					</div>
				</div>
				<br>
				<div class="row">
					<!-- <label for="user-email">Email:</label> -->
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="user-email" placeholder="Email" ng-model="create.user.email">
					</div>
				</div>
				<br>
				<div class="row">
					<!-- <label for="user-password">Password:</label> -->
					<div class="col-sm-10 col-sm-offset-1">
						<input type="password" class="form-control" name="user-password" placeholder="Password" ng-model="create.user.password">
					</div>
				</div>
				<br>
				<div class="row">
					<!-- <label for="user-confirmation-password">Confirmation Password:</label> -->
					<div class="col-sm-10 col-sm-offset-1">
						<input type="password" class="form-control" name="user-confirmation-password" placeholder="Confirmation Password" ng-model="create.confirmationPassword">
					</div>
				</div>
				<br>
				<div class="row">
					<!-- <label for="user-role_id">Roles:</label> -->
					<div class="col-sm-10 col-sm-offset-1">
						<select class="form-control" name="user-role_id" ng-model="create.selected_role"
								ng-options="roles.name for roles in create.dropdown track by roles.role_id"
						>
							<option value="" disabled>Roles</option>
						</select>
					</div>
				</div>
				<br>
			</form>
		</div>
	</div>
</section>
<footer class="modal-footer">
	<div class="col-sm-6">
		<div class="text-right">
			<button type="button" name="submit" class="btn btn-primary" ng-click="create.submit()">Submit</button>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="text-left">
			<button type="button" name="cancel" class="btn btn-danger" ng-click="create.cancel()">Cancel</button>
		</div>
	</div>
</footer>
