<header class="modal-header">
	<center>
		<h3>Do you want to delete this user?</h3>
	</center>
</header>
<section class="modal-body">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-6">
				<div class="text-right">
					<button type="button" name="submit" class="btn btn-danger" ng-click="delete.submit()">Yes</button>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="text-left">
					<button type="button" name="cancel" class="btn btn-primary" ng-click="delete.cancel()">No</button>
				</div>
			</div>
		</div>
	</div>
</section>
