#main-heading {
	height: 8%;
	width: 100%;
	background-color: #035ba5;
}

.side-image-container {
	float:left;
	background-color: #fff;
	width: 15%;
	height: 100%;
	clear: left;
}

#cms-logo {
	position: relative;
	top: 20%;
	left: 15%;
	right: 15%;
	width: 70%;
}

.current-user {
	float:left;
	height: 100%;
	width: 15%;
	/*background-color: red;*/
}

.current-name {
	position: relative;
	top:18%;
	left:35%;
	right:35%;
	color: #fff;
	font-weight: lighter;
	font-size: large;
	word-spacing: 200px;
	font-family: 'Roboto', 'sans-serif';
}

.cms-title-container {
	float:left;
	height:100%;
	width:55%;
	/*background-color: yellow;*/
}

.cms-title {
	position:relative;
	color:#fff;
	width: 20%;
	font-family: 'Roboto', 'sans-serif';
	font-size: 30px;
}

.logout-button-container {
	float:left;
	height: 100%;
	width: 15%;
	/*background-color: green;*/
}

.logout-button {
	position: relative;
	top: 15%;
	left: 15%;
	right:5%;
	height: 70%;
	width: 80%;
	color: #3a5367;
	font-family: 'Roboto', 'sans-serif';
	font-size: 1.1em;
	font-weight: lighter;
	background-color: #fff;
	border-style: none;
	cursor:pointer;
}

.side-navigation {
	float:left;
	height: 92%;
	width: 15%;
	background-color: #3a5367;
}

.option-list-container {
	position:relative;
	margin:0;
	padding:0;
	/*background-color: red;*/
	height: 100%;
	list-style: none;
}

.option-list-item {
	position:relative;
	height: 5%;
	/*background-color: blue;*/
	/*border-style: solid;*/
	/*border-color: black;*/
}

.option-list-item:hover {
	background-color: #2c4051;
}

.option-selected {
	background-color: #2c4051;
}

.option-list-item:active {
	background-color: #2c4051;
}

.option-list-item  a {
	position: relative;
	top: 20%;
	left: 40%;
	color:#fff;
	font-size: 1.3em;
	text-decoration: none;
}
