html, body {
	margin:0;
	padding:0;
	height:100%;
	width: 100%;
	font-family: 'Roboto', 'sans-serif';
}

.main {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}


.has-user {
	height: 92%;
}

.not-user {
	height: 100%;
}

.head-bar {
	margin:0;
	padding:0;
	background-color: #035ba5;
	height: 100%;
}

.wrapper {
	height: 84%;
	width:100%;
	background-color: #fff;
}

.heading-title {
	margin:0;
	padding:0;
	color:#fff;
}

.foot-bar {
	margin:0;
	padding:0;
	height: 100%;
	background-color: #035ba5;
}
