#image-container {
	padding-top: 1%;
	padding-bottom: 1%;
	display: block;
}

.wallpaper {
	position:relative;
	height: 100%;
	width: 100%;
	left:0;
	background-image: url(../images/login/wallpaper.svg);
	background-size: cover;
}

#login-box {
	background-color: #fff;
	border:none;
	position:absolute;
	top: 20%;
	left:38.5%;
	right:38.5%;
	height: 40%;
	width: 25%;
}

#login-box-header {
	position: absolute;
	height: 20%;
	width: 100%;
	background-color: #035ba5;
}

#login-box-header h2 {
	position:absolute;
	top:20%;
	left:35%;
	right: 25%;
	color:#fff;
	font-family: 'Roboto', 'sans-serif';
	font-size: 30px;
	font-weight:lighter;
}

#login-form {
	position:absolute;
	top:20%;
	width:100%;
	height:60%;
}

.input-group-field {
	height: 30%;
}

.input-field {
	margin-top: 5%;
	margin-left: 5%;
	height: 50%;
	width:90%;
	border-top-style:none;
	border-left-style: none;
	border-right-style: none;
	border-bottom: thin solid #035ba5;
	font-family: 'Roboto', 'sans-serif';
	font-size: 1em;
	color: #035ba5;
	outline: none;
}

.input-button {
	margin-top:4%;
	margin-left:5%;
	margin-right: 5%;
	width: 90%;
	height:60%;
	font-family: 'Roboto', 'sans-serif';
	color: #035ba5;
	font-size:1.3em;
	font-weight: 100;
	border:none;
	background-color: #fff;
	outline:none;
	cursor: pointer;
}

#login-box-footer {
	position: absolute;
	height: 20%;
	width: 100%;
	top:80%;
	background-color: #035ba5;
}



#login-box-footer a {
	position:absolute;
	top:40%;
	left:35%;
	right: 25%;
	color:#fff;
	font-family: 'Roboto', 'sans-serif';
	text-decoration: none;
}
.panel {
	border-radius: 0px !important;
}
.panel-default > .panel-heading {
	color:#fff;
	font-family: 'Roboto', 'sans-serif';
	font-size: 30px;
	font-weight:lighter;
	height: 20%;
	border-radius: 0px !important;
	border-style: none !important;
	background-color: #035ba5 !important;
}

.panel-footer {
	font-family: 'Roboto', 'sans-serif';
	border-radius: 0px !important;
	border-style: none !important;
	background-color: #035ba5 !important;
}

.panel-footer > center > a {
	color:#fff !important;
	text-decoration: none;
}
