table {
	/*height: 85%;*/
	width: 85%;
	border-collapse: collapse;
	/*background-color: red;*/
}

thead {
	border-style: none;
	border-color: #0c6dbe;
	background-color: #0c6dbe;
	color: #fff;
	font-size: 1.1em;
}

th {
	padding:15px !important;
	height: 42px;
	text-align: center !important;
}

td {
	padding:15px !important;
	margin-left: 10px;
	text-align: center;
	border-width: thin;
	border-bottom-style: solid;
	border-color: #cfd8dc;
}

td a {
	text-decoration: none;
}

.round-button {
	position:relative;
	top: 5%;
	right: 1%;
	width: 4%;
	float:right;
}

.round-button-circle {
	width:100%;
	height:0;
	padding-bottom: 100%;
	border-radius:50%;
	border-style: none;
	background-color: #ee3a3f;
}

.round-button a {
	position:relative;
	width:4%;
	padding-top: 50%;
	padding-bottom: 50%;
	line-height: 1em;
	margin-top: -0.5em;
	text-align: center;
	color:#fff !important;
	font-size: 1em;
	font-weight: 300;
	text-decoration: none;
	outline: none !important;
}

.round-button a i {
	position:relative;
	right: 41.5px;

}

.round-button a:hover {
	color:#fff !important;
}
.round-button a:visited {
	color:#fff !important;
}

.published {
	color: #37ae5c;
}

.unpublished {
	color: #ee3a3f;
}
