<table>
	<thead>
		<tr>
			<th></th>
			<th>Offer Name</th>
			<th>Offer Description</th>
			<th>Offer Phone</th>
			<th>Offer Website</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
  <tbody>
    <tr ng-repeat="o in offer.offers">
		<td ng-class="{'published': o.published == true, 'unpublished': o.published != true}">
			<i
				ng-class=" {
					'fa fa-check-circle': o.published,
					'fa fa-times-circle': !o.published
				}">
			</i>
		</td>
		<td>
			<a href="#">{{o.name}}</a>
		</td>
		<td>{{o.highlight}}</td>
		<td>{{o.phone}}</td>
		<td>{{o.website}}</td>
		<td>
			<a ng-click="offer.edit(o)">
			  <i class="fa fa-pencil fa-lg" style="color:#035ba5;"></i>
			</a>
		</td>
		<td>
			<a ng-click="offer.delete(o.id)">
			  <i class="fa fa-times fa-lg" style="color:#ee3a3f;"></i>
			</a>
		</td>
    </tr>
  </tbody>
</table>
<div class="round-button">
	<div class="round-button-circle">
		<a class="round-button" ng-click="offer.create()" ><i class="fa fa-plus fa-lg"></i></a>
	</div>
</div>
