<!DOCTYPE html>
<html ng-app="cmsApp" ng-strict-di>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>CMS</title>
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/font-awesome/font-awesome.min.css" >
		<link rel="stylesheet" href="css/bootstrap-3.3.6-dist/css/bootstrap.min.css" >
		<link rel="stylesheet" href="css/base.css" >

	</head>
	<body ng-cloak="" >
		<header id="main-heading" ng-hide="!currentUser">
			<div class="side-image-container">
				<img id="cms-logo" src="images/cms/popular-logo.png" alt=""  />
			</div>
			<div class="current-user">
				<span class="current-name">Hello, {{currentUser.name}}</span>
			</div>
			<div class="cms-title-container">
				<center>
					<h1 class="cms-title">OFFERS CMS</h1>
				</center>
			</div>
			<div class="logout-button-container">
				<button class="logout-button" type="button" name="logout" ng-click="logout()">Log Out</button>
			</div>
		</header>
		<nav class="side-navigation" ng-hide="!currentUser">
			<ul class="option-list-container">
				<li  id="offers" class="option-list-item">
					<a href="/#/offers">Offers</a>
				</li>
				<li id="users" class="option-list-item">
					<a href="/#/users">Users</a>
				</li>
			</ul>
		</nav>
		<div class="main" ng-class="{'has-user': currentUser, 'not-user': !currentUser}">
			<div ui-view style="height:100%;" ></div>
		</div>

		<!-- Application Dependencies -->
		<script src="js/libs/jquery/jquery-1.12.1.min.js"></script>
		<script src="js/libs/bootstrap/bootstrap.min.js"></script>
		<script src="js/libs/angular/angular.js"></script>
		<script src="js/libs/angular/angular-ui-router.js"></script>
		<script src="js/libs/angular/angular-permission.js"></script>
		<script src="js/libs/angular/satellizer.js"></script>
		<script src="js/libs/angular/angular-messages.js"></script>
		<script src="js/libs/angular/ui-bootstrap-tpls-1.2.4.min.js"></script>
		<script src="js/libs/angular/angular-animate.js"></script>


		<!-- Application Module -->
		<script src="app/app.js"></script>
		<script src="app/appconfig.js"></script>

		<!-- Application Services -->
		<script src="app/services/api-service.js"></script>
		<script src="app/services/helper-service.js"></script>

		<!-- Application Router -->
		<!-- <script src="app/routes.js"></script> -->

		<!-- Application Models -->
		<script src="app/models/user-model.js"></script>
		<script src="app/models/offer-model.js"></script>
		<script src="app/models/category-model.js"></script>

		<!--                       Application Components                              -->
		<!-- Layout -->
		<script src="app/components/layout/header-component.js"></script>
		<!-- Login -->
		<script src="app/components/login/login-config.js"></script>
		<script src="app/components/login/login-ctrl.js"></script>



		<!--                                 Tables                                      -->
		<!-- Offer table -->
		<script src="app/components/tables/offers/offers-config.js"></script>
		<script src="app/components/tables/offers/offers-ctrl.js"></script>



		<!-- User Table -->
		<script src="app/components/tables/users/users-config.js"></script>
		<script src="app/components/tables/users/user-ctrl.js"></script>

		<!-- Modals -->
		<script src="app/components/tables/offers/create/offer_createCtrl.js"></script>
		<script src="app/components/tables/users/create/user_createCtrl.js"></script>
		<script src="app/components/tables/offers/delete/offer_deleteCtrl.js"></script>
		<script src="app/components/tables/users/delete/user_deleteCtrl.js"></script>
		<script src="app/components/tables/offers/update/offer_updateCtrl.js"></script>
		<script src="app/components/tables/users/update/user_updateCtrl.js"></script>
	</body>
</html>
