<header id="main-heading" ng-hide="!vm.currentUser">
	<div class="side-image-container">
		<img id="cms-logo" src="images/cms/popular-logo.png" alt=""  />
	</div>
	<div class="current-user">
		<span class="current-name">Hello, {{vm.currentUser.name}}</span>
	</div>
	<div class="cms-title-container">
		<center>
			<h1 class="cms-title">OFFERS CMS</h1>
		</center>
	</div>
	<div class="logout-button-container">
		<button class="logout-button" type="button" name="logout" ng-click="vm.logout()">Log Out</button>
	</div>
</header>
