<header class="modal-header">
	<center>
		<h3>Update User</h3>
	</center>
</header>
<section class="modal-body">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="user-name" placeholder="User Name" ng-model="update.user.name">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="user-email" placeholder="Email" ng-model="update.user.email">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<select class="form-control" name="user-role_id" ng-model="update.selected_role"
								ng-options="roles.name for roles in update.dropdown track by roles.role_id"
						>
							<option value="" disabled>Roles</option>
						</select>
					</div>
				</div>
				<br>
			</form>
		</div>
	</div>
</section>
<footer class="modal-footer">
	<div class="col-sm-6">
		<div class="text-right">
			<button type="button" name="submit" class="btn btn-primary" ng-click="update.submit()">Submit</button>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="text-left">
			<button type="button" name="cancel" class="btn btn-danger" ng-click="update.cancel()">Cancel</button>
		</div>
	</div>
</footer>
