<header class="modal-header">
	<center>
		<h3>Update Offer</h3>
	</center>
</header>
<section class="modal-body">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-name" placeholder="Offer Name" ng-model="update.offer.name">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-highligth" placeholder="Highlight" ng-model="update.offer.highlight">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-subhighlight" placeholder="Sub Highlight" ng-model="update.offer.sub_highlight">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<textarea type="text" class="form-control" name="offer-content" placeholder="Content" ng-model="update.offer.content"></textarea>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<select class="form-control" name="offer-category_id" ng-model="update.category"
					 			ng-options="category.name for category in update.category_dd track by category.id"
						>
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-address" placeholder="Address" ng-model="update.offer.address">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-phone" placeholder="Phone" ng-model="update.offer.phone">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-website" placeholder="Website" ng-model="update.offer.website">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-expiration" placeholder="Expiration" ng-model="update.offer.expiration">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-percentage" placeholder="Percentage" ng-model="update.offer.percentage">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-terms" placeholder="Terms" ng-model="update.offer.terms">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<label for="published">Publish</label>
						<input type="checkbox" class="form-control" name="offer-published" ng-checked="update.offer.published"
							   ng-click="update.isPublished(update.offer.published)">
					</div>
				</div>
				<input type="hidden" class="form-control" name="offer-image" placeholder="Image" ng-model="update.offer.image">
			</form>
		</div>
		<div class="panel-body">
			<form class="" id="photoUpload" data-enctype="multipart/form-data" data-method="post" ng-submit="update.upload($event)">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-1">
						<input type="hidden" class="form-control" name="photoid" id="photoid" value="{{update.offer.id}}">
						<input type="hidden" class="form-control" name="photofor" id="photofor" value="offers">
						<input type="file" class="form-control" name="photo" id="photo" size="40" accept="image/*">
					</div>
						<input type="submit" class="btn btn-success btn-sm"name="name" value="Upload Photo">
				</div>
			</form>
			<center>
				<img src="{{update.offer.image}}" alt="" width="200" height="200" style="border:1px solid #ccc; margin-top:10px;" onerror="this.onerror=null;this.src='images/default.png';"/>
			</center>
		</div>
	</div>
</section>
<footer class="modal-footer">
	<div class="col-sm-6">
		<div class="text-right">
			<button type="button" name="submit" class="btn btn-primary" ng-click="update.submit()">Submit</button>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="text-left">
			<button type="button" name="cancel" class="btn btn-danger" ng-click="update.cancel()">Cancel</button>
		</div>
	</div>
</footer>
