<!-- <header class="head-bar">
	<center id="image-container">
		<img src="images/login/popular-login-white.png" alt="popular logo" width="200" />
	</center>
</header>
<div class="wallpaper">
	<div id="login-box">
		<header id="login-box-header">
			<h2 class="heading-title">Offers CMS</h2>
		</header>
		<form id="login-form">
			<div class="input-group-field">
				<input type="email" class="input-field" placeholder="Email" required ng-model="auth.email">
			</div>
			<div class="input-group-field">
				<input type="password" class="input-field" placeholder="Password" required="" ng-model="auth.password">
			</div>
			<div class="input-group-field">
				<button type="button" class="input-button"  ng-click="auth.login()">Sign in</button>
			</div>
		</form>
		<footer id="login-box-footer">
				<a href="#">Fortgot your password</a>
		</footer>
	</div>
</div>
<footer class="foot-bar">

</footer> -->
<div class="row" style="height:8%;">
	<div class="col-xs-12" style="height:100%;">
		<header class="head-bar">
			<center id="image-container">
				<img src="images/login/popular-login-white.png" alt="popular logo" width="200" />
			</center>
		</header>
	</div>
</div>
<div class="row" style="height:84%;">
	<div class="col-xs-12"  style="height:100%;">
		<div class="wallpaper">
			<div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4" style="margin-top:8%;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<center>Offers CMS</center>
					</div>
					<div class="panel-body">
						<form>
							<div class="input-group-field">
								<input type="email" class="input-field" placeholder="Email" required ng-model="auth.email">
							</div>
							<div class="input-group-field">
								<input type="password" class="input-field" placeholder="Password" required="" ng-model="auth.password">
							</div>
							<div class="input-group-field">
								<button type="button" class="input-button"  ng-click="auth.login()">Sign in</button>
							</div>
						</form>
					</div>
					<div class="panel-footer">
						<center><a href="#">Forgot your password</a></center>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row" style="height:8%;">
	<div class="col-xs-12" style="height:100%;">
		<footer class="foot-bar"></footer>
	</div>
</div>
