<header class="modal-header">
	<center>
		<h3>Create New Offer</h3>
	</center>
</header>
<section class="modal-body">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-name" placeholder="Offer Name" ng-model="create.offer.name">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-highligth" placeholder="Highlight" ng-model="create.offer.highlight">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-subhighlight" placeholder="Sub Highlight" ng-model="create.offer.sub_highlight">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<textarea type="text" class="form-control" name="offer-content" placeholder="Content" ng-model="create.offer.content"></textarea>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<select class="form-control" name="offer-category_id" ng-model="create.category_selected"
								ng-options="category.name for category in create.category_dd track by category.id"
						>
							<option value="" disabled>Categoria</option>
						</select>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-address" placeholder="Address" ng-model="create.offer.address">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-phone" placeholder="Phone" ng-model="create.offer.phone">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-website" placeholder="Website" ng-model="create.offer.website">
					</div>
				</div>
				<br>
				<!-- <div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-url" placeholder="URL" ng-model="create.offer.url">
					</div>
				</div>
				<br> -->
				<!-- <div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="image" placeholder="image" ng-model="create.offer.image">
					</div>
				</div>
				<br> -->
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="date" class="form-control" name="offer-expiration" placeholder="Expiration Date" ng-model="create.offer.expiration_date">
					</div>
				</div>
				<br>
				<!-- <div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-alert" placeholder="Alert Quantity" ng-model="create.offer.alert_qty">
					</div>
				</div>
				<br> -->
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-percentage" placeholder="Percentage" ng-model="create.offer.percentage">
					</div>
				</div>
				<br>
				<!-- <div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-image" placeholder="Image Name" ng-model="create.offer.image_name">
					</div>
				</div>
				<br>-->
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<input type="text" class="form-control" name="offer-terms" placeholder="Terms" ng-model="create.offer.terms">
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
<footer class="modal-footer">
	<div class="col-sm-6">
		<div class="text-right">
			<button type="button" name="submit" class="btn btn-primary" ng-click="create.submit()">Submit</button>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="text-left">
			<button type="button" name="cancel" class="btn btn-danger" ng-click="create.cancel()">Cancel</button>
		</div>
	</div>
</footer>
