<div class="form-group">
  <!-- {!! Form::label('name') !!}
  {!! Form::text('name', null, ['class' => 'form-control']) !!} -->
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="Name">
</div>

<div class="form-group">
  <!-- {!! Form::label('email') !!}
  {!! Form::text('email', null, ['class' => 'form-control']) !!} -->
  <label for="email">E-mail</label>
  <input type="email" class="form-control" id="email" placeholder="E-mail">
</div>

<div class="form-group">
  <!--{!! Form::label('password') !!}
  {!! Form::password('password', ['class' => 'form-control']) !!} -->
  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="Password">
</div>

<div class="form-group">
  <!--{!! Form::label('password_confirmation') !!}
  {!! Form::password('password_confirmation', ['class' => 'form-control']) !!}-->
  <label for="password_confirmation">Password Confirmation</label>
  <input type="password" class="form-control" id="password_confirmation" placeholder="Password Confirmation">
</div>

<button type="submit" class="btn btn-primary">Create New User</button>
