<div style="heigth=85%;">
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>E-Mail</th>
				<th>Role</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr class="" ng-repeat="u in user.users">
				<td>
					<a href="#">{{u.name}}</a>
				</td>
				<td>{{ u.email }}</td>
				<td>{{user.helper.getRoleName(u.role_id)}}</td>
				<td>
					<a ng-click="user.edit(u)">
						<i class="fa fa-pencil fa-lg" style="color:#035ba5;"></i>
					</a>
				</td>
				<td>
					<a ng-click="user.delete(u.id)">
						<i class="fa fa-times fa-lg" style="color:#ee3a3f;"></i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="round-button">
	<div class="round-button-circle">
		<a class="round-button" ng-click="user.create()" ><i class="fa fa-plus fa-lg"></i></a>
	</div>
</div>
