<div class="alert alert-danger">
  <strong>Warning!</strong> You are about to delete a user. This action cannot be undone. Are you sure you want to continue?
</div>

<!-- {!! Form::submit('Yes, delete this user!', ['class' => 'btn btn-danger']) !!}-->
<button type="submit" class="btn btn-danger">Yes, delete this user!</button>

<a href="{{ route('backend.users.index') }}" class="btn btn-success">
  <strong>No, get me out of here!</strong>
</a>
